body {
  background-color: #0e0e0e;
  color: #fff;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite alternate, glow 1.5s infinite alternate;
  transition: background-color 0.5s;
}

.inner {
  width: 75px;
  height: 75px;
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 5s infinite linear, glow 1.5s infinite alternate-reverse;
  transition: background-color 0.5s;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3e8e41;
}
.triangle-bottom-left {
  width: 0;
  height: 0;
  border-bottom: 75px solid #444;
  border-right: 75px solid transparent;
  animation: pulse 2s infinite alternate, rotate 5s infinite linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50;
  }
  50% {
    box-shadow: 0 0 5px #4caf50, 0 0 10px #4caf50, 0 0 15px #4caf50;
  }
}
